.form-control{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navbar{
    background: rgba(255, 255, 255, 1);
}

.dark-mode-bg{
    background: rgba(32, 44, 54, 1);
 
}

.nav-dark-bg{
    background: rgba(43, 56, 68, 1);

}

.card-dark-bg{
    background: rgba(43, 56, 68, 1);

}